<div class="5u 12u(medium)">
	<form name="form" ng-submit="vm.register()" role="form">
		<ul>
		<li style="padding-bottom:10px;">
			<div class="form-group" ng-class="{ 'has-error': form.firstName.$dirty && form.firstName.$error.required }">
				<input type="text" name="firstName" id="firstName" class="form-control" placeholder="firstName" ng-model="vm.user.firstName" required />
				<span ng-show="form.firstName.$dirty && form.firstName.$error.required" class="help-block">First name is required</span>
			</div>
		</li>
		<li style="padding-bottom:10px;">
			<div class="form-group" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
				<input type="text" name="lastName" id="Text1" class="form-control" placeholder="lastName" ng-model="vm.user.lastName" required />
				<span ng-show="form.lastName.$dirty && form.lastName.$error.required" class="help-block">Last name is required</span>
			</div>
		</li>
		<li style="padding-bottom:10px;">
			<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
				<input type="text" name="username" id="username" class="form-control" placeholder="userName" ng-model="vm.user.username" required />
				<span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
			</div>
		</li>
		<li style="padding-bottom:10px;">
			<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
				<input type="password" name="password" id="password" class="form-control" placeholder="Password" ng-model="vm.user.password" required />
				<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
			</div>
		</li>
		<br>	
		<li>
			<div class="form-actions">
				<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="button big icon fa-check">Register</button>
			</div>
		</li>
		</ul>
	</form>
</div>
<div class="5u 12u(medium)">
	<ul>
		<li>
			<a href="#!/login" class="button alt big icon fa-arrow-circle-left" ng-click="vibrateNotify()">Cancel</a>
		</li>
	</ul>
</div>